include mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Delete user
    +styles()
  body
    .header
      a.header-link(href=`${frontendUrl}`) ☾ Inspace
    .main-wrapper
      h1 Delete account
      .container
        .content-wrapper
          p Hello #{name}
          p We received a request to delete your account.
        .content-wrapper
          a.link(href=`${url}`) Delete account
        .content-wrapper
          p If you did not request this, please ignore this email.
          p This link will expire in 24 hours.
    .footer
      .footer-content
        p If you have any questions, please contact us at: 
          a(href=`mailto:${contactEmail}`) #{contactEmail} &#128279;
        p The ☾ Inspace Team.
