include mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Event
    +styles()
  body
    .header
      a.header-link(href=frontendUrl) ☾ Inspace
    .main-wrapper 
      h1 Event comming soon
      .container 
        .container-wrapper
          p Hello #{user}
          p #{message}
        .container-wrapper 
          a.link(href=url) See more info
        .container-wrapper
          each part of description
            p= part
    .footer
      .footer-content
        p If you have any questions, please contact us at: 
          a(href=`mailto:${contactEmail}`) #{contactEmail} &#128279;
        p The ☾ Inspace Team.
